<div class="container">
	<table class='table'>
		<tr>
			<th> Link Name</th>
			<th> Counter </th>
			<th> Action </th>
			<th> Preview </th>
		</tr>
	<% @ritleys.each do |ritley| %>
	<tr>
		<td><%= ritley['name'] %></td>
		<td class="centered"> <%= ritley['counter'] %> </td>
		<td class="centered"> <%= link_to 'Edit', edit_path(ritley['id']) %> </td>
		<td class='centered'> <%= link_to 'Preview', preview_path(ritley['id']) %></td>
	</tr> 
	<% end %>
	</table>
</div>

	
