.container {
	position: center;
	text-align: center;
}

tr {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
	padding: 2px;
}

th {
	border: 1px solid black;
	text-align: center;
}
.centered {
	text-align: center;
}
